extends layout
block content
	div.photos
		a.photo(href="javascript:",data-desc="测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述测试图片描述")
				div.photo-container
					div.photo-img
						img(src="img/photos/p1.jpg")
					div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p2.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p3.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p4.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p5.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p6.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p7.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p4.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p5.jpg")
				div.photo-title 测试图片1
		a(href="javascript:").photo
			div.photo-container
				div.photo-img
					img(src="img/photos/p2.jpg")
				div.photo-title 测试图片1
	script
		$(".photos .photo").imageshow({isEscKey  : true});