extends layout
block content
	if(user)
		div.new-photo
			button#new-photo.btn.pull-right 发表图片
		legend
	div.photos
		-each post in posts
			a(href="javascript:",data-pid=post._id).photo
					div.photo-container
						div.photo-img
							img(src=post.imgUrl)
						div.photo-title #{post.postTitle}