doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/highlighting.css')
		link(rel='stylesheet', href='/css/pagedown.css')
		script(src="/js/hycus-textarea.js",type="text/javascript")
		script(src="/js/Markdown.Converter.js",type="text/javascript")
		script(src="/js/Markdown.Sanitizer.js",type="text/javascript")
		script(src="/js/Markdown.Editor.js",type="text/javascript")
	body
	div#pagedown
		div#tabnav
			ul#markdown-tab.nav.nav-tabs(style="padding:0 10px; margin-bottom:10px;")
				li.active
					a(href="#edit",data-toggle="tab")  Edit
				li
					a#preview(href="#markdownpreview",data-toggle="tab") Preview
				-if(operation == "new-blog")
					li
						a#tags(href="#tagslist", data-toggle="tab") Tags
		div.tab-content
			div.tab-pane.active(id="edit")
				div.wmd-panel
					div#wmd-button-bar
					textarea#wmd-input.wmd-input(rows="10")
			div#markdownpreview.tab-pane.markdown-body Loding preview content ...
			-if(operation == "new-blog")
				div#tagslist.tab-pane
					ul.tags
						-each tag in tags
							li
								a.label(href="javascript:",tagId=tag._id,title=tag.tagName) #{tag.tagName}
	script
		var pagedown_editor = new Markdown.Editor();
		pagedown_editor.run();
		$("#preview").click(function () {
			var converter = new Markdown.Converter();
			var markdown_content = $("#wmd-input").val();
			if (!markdown_content) {
				$("div#markdownpreview").html("Empty Markdown Content.");
			} else {
				$("div#markdownpreview").html(converter.makeHtml(markdown_content));
			}
		});
		$("#tagslist a.label").click(function(e){
			$(this).toggleClass("label-info");
		});