div.widegt
	h4 最新博文
	ul
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示,文字较多的情况显示省略号
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
div.widegt
	h4 最新回复
	ul
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示,文字较多的情况显示省略号
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
		li
			a(href="#") 测试文字，查看是否可以正常显示
div.widegt
	h4 标签
	ul.tags
		li
			a(href="#") 测试标签1
		li
			a(href="#") 测试标签2
		li
			a(href="#") 测试标签3
		li
			a(href="#") 测试标签4
		li
			a(href="#") 测试标签5
		li
			a(href="#") 测试标签6
		li
			a(href="#") 测试标签7
